<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= pageTitle %></title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Node App</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav ml-auto">
                        <li
                            class="nav-item <%= path === '/shop' ? 'active' : '' %>"
                        >
                            <a class="nav-link" href="/">
                                Shop
                            </a>
                        </li>
                        <li
                            class="nav-item <%= path === '/product-list' ? 'active' : '' %>"
                        >
                            <a class="nav-link" href="/product-list">
                                Product List
                            </a>
                        </li>
                        <% if(isLoggedIn) { %>
                        <li
                            class="nav-item <%= path === '/orders' ? 'active' : '' %>"
                        >
                            <a class="nav-link" href="/orders">
                                Orders
                            </a>
                        </li>
                        <li
                            class="nav-item <%= path === '/cart' ? 'active' : '' %>"
                        >
                            <a class="nav-link" href="/cart">
                                Cart
                            </a>
                        </li>
                        <li
                            class="nav-item <%= path === '/checkout' ? 'active' : '' %>"
                        >
                            <a class="nav-link" href="/checkout">
                                Checkout
                            </a>
                        </li>
                        <li
                            class="nav-item <%= path === '/admin/add-product' ? 'active' : '' %>"
                        >
                            <a class="nav-link" href="/admin/add-product">
                                Add Product
                            </a>
                        </li>
                        <li
                            class="nav-item <%= path === '/admin/products' ? 'active' : '' %>"
                        >
                            <a class="nav-link" href="/admin/products">
                                Admin Products
                            </a>
                        </li>
                        <% } %> <% if(!isLoggedIn) { %>
                        <li
                            class="nav-item <%= path === '/login' ? 'active' : '' %>"
                        >
                            <a class="nav-link" href="/login">
                                Login
                            </a>
                        </li>
                        <li
                            class="nav-item <%= path === '/register' ? 'active' : '' %>"
                        >
                            <a class="nav-link" href="/register">
                                Register
                            </a>
                        </li>
                        <% } %> <% if(isLoggedIn) { %>
                        <li
                            class="nav-item <%= path === '/logout' ? 'active' : '' %>"
                        >
                            <form action="/logout" method="post">
                                <input
                                    type="hidden"
                                    name="_csrf"
                                    value="<%= csrfTokken %>"
                                />
                                <button class="nav-link" href="/logout">
                                    Logout
                                </button>
                            </form>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Success, Warning, Danger Alerts -->
        <% if(!!successMessage.length > 0 || !!warningMessage.length > 0 || !!errorMessage.length > 0) { %>
        <div class="container mt-4">
            <% if(!!successMessage.length > 0) { %>
            <div class="alert alert-success">
                <strong><%= successMessage %></strong>
            </div>
            <% } %>
            <% if(!!warningMessage.length > 0) { %>
            <div class="alert alert-warning">
                <strong><%= warningMessage %></strong>
            </div>
            <% } %>
            <% if(!!errorMessage.length > 0) { %>
            <div class="alert alert-danger">
                <strong><%= errorMessage %></strong>
            </div>
            <% } %>
        </div>
        <% } %>