<%- include('./../../includes/header.ejs', {successMessage: successMessage, warningMessage: warningMessage, errorMessage: errorMessage}) %>
<main class="text-center">
    <h1 class="display-4">Update Product</h1>
    <form action="/admin/edit-product" method="post" class="form w-75 mx-auto">
        <input type="hidden" name="productID" value="<%= product.id %>" />
        <div class="form-group text-left">
            <label for="title">Enter Product Title</label>
            <input
                type="text"
                class="form-control"
                name="title"
                id="title"
                required
                value="<%= product.title %>"
                placeholder="Enter Product Title"
            />
        </div>
        <div class="form-group text-left">
            <label for="image">Enter Product Image</label>
            <input
                type="text"
                class="form-control"
                name="image"
                id="image"
                required
                value="<%= product.image %>"
                placeholder="Enter Product Image"
            />
        </div>
        <div class="form-group text-left">
            <label for="price">Enter Product Price</label>
            <input
                type="number"
                step="0.01"
                class="form-control"
                name="price"
                id="price"
                required
                value="<%= product.price %>"
                placeholder="Enter Product Price"
            />
        </div>
        <div class="form-group text-left">
            <label for="description">Enter Product Description</label>
            <textarea
                class="form-control"
                name="description"
                id="description"
                required
                placeholder="Enter Product Description"
            ><%= product.description %></textarea>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfTokken %>">
        <button type="submit" class="btn btn-outline-info btn-sm mx-auto">
            Update Product
        </button>
    </form>
</main>
<%- include('./../../includes/footer.ejs') %>
