<%- include('./../../includes/header.ejs', {successMessage: successMessage, warningMessage: warningMessage, errorMessage: errorMessage}) %>
<main class="text-center mt-5">
    <div class="container">
        <% if(cartProducts.length > 0) { %>
        <h2>Total Cart Price: $<%= cartTotalPrice %></h2>
        <ul>
            <% cartProducts.forEach(product => { %>
            <li class="text-left mb-3">
                <div class="row">
                    <div class="col">
                        <strong>Product: </strong><%= product.title %> - <strong>Quantity:</strong> <%= product.quantity %> - <strong>Price: </strong>$<%= product.price %>
                    </div>
                    <div class="col-auto">
                        <form action="/cart-remove-item" method="post">
                            <input
                                type="hidden"
                                name="productID"
                                value="<%= product.id %>"
                            />
                            <input type="hidden" name="_csrf" value="<%= csrfTokken %>">
                            <button type="submit" class="btn btn-danger btn-sm">
                                Remove
                            </button>
                        </form>
                    </div>
                </div>
            </li>
            <% }) %>
        </ul>
        <hr />
        <div class="col text-center">
            <form action="/place-order" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfTokken %>">
                <button class="btn btn-success btn-sm" type="submit">Place Order</button>
            </form>
        </div>
        <% } else { %>
        <h1>Cart is Empty!</h1>
        <% } %>
    </div>
</main>
<%- include('./../../includes/footer.ejs') %>
